$color-dark: #343A40;
$color-gray: #6C757D;
$color-white: #fff;
$color-green: #28A745BF;
$color-yellow: #FFC107;
$color-red: #DC3545BF;

$color-navbar-link: rgba(255, 255, 255, .5);
$color-navbar-link-hover: rgba(255, 255, 255, .75);

$header-height: 8vh;
$font-weight-medium: 500;

$layer-1: 9;
$layer-2: 18;
$layer-3: 27;
$layer-4: 36;
