@import "fonts";
@import "mixins";
@import "variables";

%achievement-status {
  & > .fas {
    font-size: 2rem;
  }

  & > .fa-check {
    color: $color-green;
  }

  & > .fa-times {
    color: $color-red;
  }
}

%achievement-type {
  & > .achievement-starting {
    background-color: $color-green;
  }

  & > .achievement-main {
    background-color: $color-light-blue;
  }

  & > .achievement-normal {
    background-color: lighten($color-red, 10%);
  }

  & > .achievement-hard {
    background-color: $color-red;
  }

  & > .achievement-laborious {
    background-color: darken($color-red, 10%);
  }
}
