@import "../../../../assets/scss/shared";

.achievement {
  @extend %achievement-type;

  background-color: $color-darker;
  color: $color-white;
  padding: 1.25rem;
  width: 32%;
  margin-bottom: 2%;
  position: relative;

  &-card__description {
    margin-top: 1rem;
  }

  & > .achievement-title {
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.375rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .award-currency {
    color: $color-green;
  }

  .award-coins {
    color: $color-yellow;
  }

  & > .achievement-state {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0.25rem;

    @extend %achievement-status;
  }
}
